<nav class="custom-navbar navbar navbar navbar-expand-md navbar-dark bg-dark">

    <div class="container">
        <a class="navbar-brand" th:href="@{/}">Furni<span>.</span></a>

        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarsFurni" aria-controls="navbarsFurni" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarsFurni">
            <ul class="custom-navbar-nav navbar-nav ms-auto mb-2 mb-md-0">
                <li class="nav-item ">
                    <a class="nav-link" th:href="@{/}">Home</a>
                </li>
            </ul>

            <ul class="custom-navbar-cta navbar-nav mb-2 mb-md-0 ms-5">
                <li>
                    <a th:if="${employee != null}" class="nav-link" href="#"><img th:src="@{images/user.svg}" alt=""></a>
                    <a th:href="@{login}" th:if="${employee == null}" class="btn btn-primary">Login</a>
                </li>
                <li><a class="nav-link" th:href="cart"><img th:src="@{images/cart.svg}" alt=""></a></li>
            </ul>
        </div>
    </div>
</nav>