<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>SB Admin 2 - Tables</title>

    <!-- Custom fonts for this template -->
    <link rel="stylesheet" th:href="@{/css/bootstrap.min.css}">
    <link
            href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i"
            rel="stylesheet">

    <!-- Custom styles for this template -->
    <link th:href="@{/css/sb-admin-2.min.css}" rel="stylesheet">

    <!-- Custom styles for this page -->
    <link th:href="@{/css/dataTables.bootstrap4.min.css}" rel="stylesheet">
    <link th:href="@{/css/style.css}" rel="stylesheet">
    <link th:href="@{/css/dashboard.css}" rel="stylesheet">
</head>

<body id="page-top">

<!-- Page Wrapper -->
<div id="wrapper">

    <!-- Sidebar -->
    <nav class="bg-gradient-primary" th:insert="~{components/sidebar}"></nav>
    <!-- End of Sidebar -->

    <!-- Content Wrapper -->
    <div id="content-wrapper" class="d-flex flex-column pt-3">
        <!-- Begin Page Content -->
        <div class="container-fluid">

            <!-- Page Heading -->
            <h1 class="h3 mb-2 text-gray-800">Products</h1>

            <!-- DataTales Example -->
            <div class="card shadow mb-4">
                <div class="card-header py-3">
                    <h6 class="m-0 font-weight-bold text-primary">Products</h6>
                </div>
                <div class="card-body">
                    <div class="table-responsive">
                        <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                            <thead>
                                <tr>
                                    <th>Id</th>
                                    <th>Name</th>
                                    <th>Description</th>
                                    <th>Manufacture</th>
                                    <th>Unit</th>
                                    <th>Status</th>
                                    <th></th>
                                    <th></th>
                                    <th></th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr th:each="product : ${products}">
                                    <td th:text="${product.getProduct_id()}"></td>
                                    <td th:text="${product.getName()}"></td>
                                    <td>
                                        <p class="line-clamp-3" th:text="${product.description}"></p>
                                    </td>
                                    <td th:text="${product.manufacturer}"></td>
                                    <td th:text="${product.unit}"></td>
                                    <td th:text="${product.status}"></td>
                                    <td>
                                        <a href="">Details</a>
                                    </td>
                                    <td>
                                        <a href="">Update</a></td>
                                    <td>
                                        <a href="">Delete</a></td>
                                </tr>
                            </tbody>
                        </table>
                    </div>

                    <!-- Start Pagination -->
                    <nav class="mt-3">
                        <ul class="pagination justify-content-center">
                            <li th:class="page-item + ' ' + (${products.number == 0} ? disabled)">
                                <a class="page-link" th:href="@{/dashboard/products(page=${products.number}, size=${products.size})}">Previous</a>
                            </li>
                            <li class="page-item" th:each="page : ${pagesFirst}">
                                <a class="page-link" th:href="@{/dashboard/products(page=${page}, size=${products.size})}" th:text="${page}"></a>
                            </li>
                            <li class="page-item" th:if="${showFirst}"><span class="page-link">...</span></li>
                            <li th:class="page-item + ' ' + (${products.number + 1 == page} ? active)" th:each="page : ${pagesCurrent}">
                                <a class="page-link" th:href="@{/dashboard/products(page=${page}, size=${products.size})}" th:text="${page}"></a>
                            </li>
                            <li class="page-item" th:if="${showLast}"><span class="page-link">...</span></li>
                            <li class="page-item" th:each="page : ${pagesLast}">
                                <a class="page-link" th:href="@{/dashboard/products(page=${page}, size=${products.size})}" th:text="${page}"></a>
                            </li>
                            <li th:class="page-item + ' ' + (${products.totalPages == products.number + 1} ? disabled)">
                                <a class="page-link" th:href="@{/dashboard/products(page=${products.number + 2}, size=${products.size})}">Next</a>
                            </li>
                        </ul>
                    </nav>
                    <!-- End Pagination -->
                </div>
            </div>

        </div>
        <!-- /.container-fluid -->

        <!-- Footer -->
        <footer class="sticky-footer bg-white">
            <div class="container my-auto">
                <div class="copyright text-center my-auto">
                    <span>Copyright &copy; Your Website 2020</span>
                </div>
            </div>
        </footer>
        <!-- End of Footer -->

    </div>
    <!-- End of Content Wrapper -->

</div>
<!-- End of Page Wrapper -->

<!-- Bootstrap core JavaScript-->
<script th:src="@{/js/jquery.min.js}"></script>
<script th:src="@{/js/bootstrap.bundle.min.js}"></script>

<!-- Core plugin JavaScript-->
<script th:src="@{/js/jquery.easing.min.js}"></script>

<!-- Custom scripts for all pages-->
<script th:src="@{/js/sb-admin-2.min.js}"></script>

<!-- Page level plugins -->
<script th:src="@{/js/jquery.dataTables.min.js}"></script>
<script th:src="@{/js/dataTables.bootstrap4.min.js}"></script>

<!-- Page level custom scripts -->
<!--<script src="js/demo/datatables-demo.js"></script>-->

</body>

</html>